p  {
    font-size: 0.8em;
    color: rgb(140, 136, 136);
}

#more-notifications{
    text-align: center;
    font-size: 1em;
    color: rgb(140, 136, 136);
}


.notification-icon {
    float: right;
    margin: 10px;
}

.notification-display{
    width: 30%;
}
